/* CSS for the attribution pop-up */
body {margin:0; padding:0; font-family:Helvetica,Arial,san-serif; background-color: white; } 
#wrapper {margin:0; padding:0; width:100%; height:400px; background: #000 url('../../images/life-is-sharing.jpg') no-repeat;}
#content {margin:0; padding:8px;width:100%; height:400px; background-color: white; opacity: 0.7; filter: alpha(opacity=70);}
h1 {margin:0; font-size:1.3em;}
h2 {margin:0; font-size:0.9em}
.dlink{font-size:80%;}
#credits {font-size:80%; color:#666;margin-top:1em;}
textarea {width:500px; background-color:#fff;}
#amessage {margin-top:0; font-size:0.9em; font-style:italic;}
